<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"> 
  <!-- Despliegue -->
  <link rel='stylesheet' type="text/css" href='<%=contextPath%>/stylesheets/style.css' />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://portal.etsit.upm.es/pdi/static-button-gestiondoc"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script src="<%=contextPath%>/js/funciones.js"></script>
  <script src="<%=contextPath%>/js/autocomplete.js"></script>
  <title>IRAC VoD</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%=contextPath%>/">VoD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Novedades</a></li>
      <li><a href="#">Perfil</a></li>
      <li><a href="#">Recomendaciones</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%=session.user.nombre%> <%=session.user.apellido%></a></li>
        <li><a href="<%=contextPath%>/logout"><span class="glyphicon glyphicon glyphicon-log-out"></span> Salir</a></li>
      </ul>
    <div class="form-group autocomplete">
      <input id="buscador" type="text" class="form-control" autocomplete="off" placeholder="Buscar">
    </div>
  </div>
</nav>

<div>
  <%- body %>
</div>
<footer class="container-fluid text-center">
  <p>Proyecto IRAC</p>
</footer>
<script>
let asignaturas = <%- JSON.stringify(asignaturas) %>
let asignaturas2 = quitAcents(asignaturas)
let url = <%- JSON.stringify(asignaturaPath)%>
autocomplete(document.getElementById("buscador"), asignaturas, asignaturas2, null, url);
</script>
</body>
</html>
