<script class ="code" src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<div class="content">
    <h2><%=video.titulo%></h2>
    <h3 class="p_hr">Información</h3>
    <hr>
    <table class="table">
        <tbody>
            <tr>
            <th scope="row" class="noBorde">Título</th>
            <td class="noBorde"><%=video.titulo%></td>
            </tr>
            <tr>
            <th scope="row" class="noBorde">Sinopsis</th>
            <td class="noBorde"><%=video.resumen%></td>
            </tr>
            <tr>
            <th scope="row" class="noBorde">Valoración</th>
            <td class="noBorde">
            <span style="color:green;" class="glyphicon glyphicon-thumbs-up"><%=video.likes%></span>
            <span style="color:red" class="glyphicon glyphicon-thumbs-down"><%=video.dislikes%></span>
            </td>
            </tr>
        </tbody>
    </table>
    <h3 class="p_hr">Vídeo</h3>
    <hr>
    <div class="container text-center"> 
        <p><%=video.titulo%></p>
        <video style="width: 100%" data-dashjs-player autoplay src="<%=contextPath%>/videos/<%=video.urlVideo%>" controls/>
        <p><span style="color:red;" class="text-right glyphicon glyphicon-thumbs-down"><%=video.dislikes%></span><span style="color:green;" class="glyphicon glyphicon-thumbs-up"><%=video.likes%></span></p>
    </div><br>
    <h3 class="p_hr">Comentarios</h3>
    <hr>
    <div class="comentario rounded" style="padding:10px">
        <form action="<%=formPath%>" method="post">
        <input type="text" class="form-control"  name="texto"  placeholder="Escribir comentario">
        <button type="submit" class="btn btn-dark">Comentar</button>
        </form>
    </div>
    <br>
    <%video.comentarios.forEach(function(coment,index){%>
            <div class="comentario rounded">
            <p><b><%=coment.nombre%></b><em style="float:right"><%=coment.fecha%></em></p>
            <p style="padding-left: 20px; padding-right: 20px"><%=coment.texto%>
            </p>
            </div>
            <br>
        <%})%>
    <br>
</div>
